{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
    <header id='main-navigation'>
        <h1><a href=''>John's Blog</a></h1>

        <nav>
          <a href=''>All Posts</a>
      </nav>
    </header>
    
    <section id='welcome'>
        <header>
            <img src="{% static "blog/images/john4.png"%}" alt="Author of this blog">
            <h2>John's blog</h2>
            <p>blog content</p>
        </header>
    </section>

    <section id='latest-posts'>
        <h2>My latest thoughts</h2>

        <ul>
            {% comment %} {% for thing of things%} {% endcomment %}
            <li>
                <article class='post'>
                    <a href="">
                        <img src="{% static 'blog/images/mountains.jpg'%}" alt="blog-related-img">
                        <div class='post__content'>
                            <h3>Blog title</h3>
                            <p>Blog content</p>
                        </div>
                    </a>
                </article>
            </li>
            {% comment %} {% endfor %} {% endcomment %}
        </ul>
    </section>

    <section id='about'>
        <h2>What I do</h2>
        <p>programming</p>
        <p>lipsum</p>
    </section>
{% endblock%}